﻿
@{
    ViewData["Title"] = "Login";
}

<link href="~/css/login.css" rel="stylesheet" />
<body>
    <div class=container>
        <div class="row texto">
            <h2 class="titulo">Login</h2>
            <form class="login" method="get" asp-action="Login">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="text-uppercase">Username</label>
                    <input type="text" class="form-control" placeholder="">

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                    <input type="password" class="form-control" placeholder="">
                </div>


                <div class="form-check">

                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>

        </div>

    </div>
</body>