﻿body{
    background-image: url("https://pbs.twimg.com/media/EH6DR7NWkAAoDWd?format=jpg&name=large");
    
}
.texto {
    width: 100%;
    max-width: 330px;
    padding: 5%;
    margin: auto;
    border-radius: 10%;
    background-color: bisque;
    border: 3px solid sienna;
    background-image: url("https://pbs.twimg.com/media/EH6DR7NWkAAoDWd?format=jpg&name=large");
}
.titulo{
   color: sienna
}
.form-group{
    margin-top:5%;

}
.btn{
    background-color:beige;
    
}
.btn:hover{
    font-weight:bolder;
    color: beige;
    background-color:sienna;
}